input {
    width: 100%;
    padding: 12px;
    border: 1px solid #939393;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #04aa6d;
    color: white;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
    width: 40%;
    margin: auto;
}
img {
    width: 30%;
    margin: -4% 13% -1% 34%;
}
h1 {
    text-align: center;
    font-size: x-large;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flexInputs {
    width: 40%;
    margin: auto;
}
.submit {
    top: 50%;
    left: 50%;
}
.aligner {
    position: relative;
    display: flex;
    margin-right: 6vw;
    justify-content: center;
}
.blueText {
    color: #3e77f7;
}
#submit {
    background-color: #3e77f7;
    color: white;
    width: 50%;
    margin: 2% 15% 4% 25%;
    border-radius: 31px;
    border: solid #939393;
}
/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    height: fit-content;
}
#message {
    width: 40%;
    margin: 0% 0% 0% 5%;
}
#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: #3e77f7;
}

.valid:before {
    position: relative;
    left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
}
